table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border-collapse: collapse;
}

thead {
  color: #ffffff;
  background-color: #242424;
}

td,
th {
  width: 300px;
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
}

td:first-child {
  text-transform: capitalize;
  text-align: start;
  padding-left: 110px;
}

tr:nth-child(even) {
  background-color: #c0c0c0;
}
